/* defaults {{{*/
body {
    margin: 0px;
    padding: 0px;
    font-family: calibri;
    color: #f8f8f2;
    background-color: #282a36;
}

.content {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.container {
    margin-top: 120px;
}

.center {
    text-align: center;
    color: #8be9fd;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #50fa7b;
}

a:hover {
    text-decoration: none;
    color: #8be9fd;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #282a36;
}

input:focus,
textarea:focus {
    outline: none;
}

.disclaimer {
    color: #ffb86c;
    font-weight: bold;
}

/*}}}*/

/* navigation {{{*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #282a36;
    box-shadow: 2px 2px 20px rgba(139, 233, 253, 0.13);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a,
nav p {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #bd93f9;
    letter-spacing: 1px;
    position: relative;
}

nav ul li a::before {
    content: "";
    background-color: #bd93f9;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transform: scaleX(0.66);
    transition: all .3s ease-in-out;
}

nav ul li a:hover::before {
    background-color: #bd93f9;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(1);
    box-shadow: 2px 5px 15px #bd93f988;
}

nav ul li a:hover {
    color: #44475a;
}

nav .blog {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #8be9fd;
    letter-spacing: 1px;
    font-weight: bold;
}

nav .blog::before {
    content: "";
    background-color: #8be9fd;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transform: scaleX(0.66);
    transition: all .3s ease-in-out;
}

nav .blog:hover::before {
    background-color: #8be9fd;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(1);
    box-shadow: 2px 5px 15px #8be9fd88;
}

nav p {
    color: #44475a;
    background-color: #bd93f9;
}

nav p:hover {
    color: #44475a;
    background-color: #bd93f9;
    box-shadow: 2px 5px 15px rgba(189, 147, 249, 0.5);
    transition: all ease 0.2s;
}

nav .menu-btn {
    display: none;
}

/*}}}*/

/* newsletter {{{ */
/* form {{{ */
.newsletter {
    padding-bottom: 5px;
}

.newsletter input,
textarea {
    border: 2px solid #44475a;
    background-color: #282a36;
    border-top: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
    color: #8be9fd;
    padding: 10px;
    padding-bottom: 35px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.newsletter textarea {
    margin-top: -1px;
    resize: vertical;
}

.newsletter input[type="file"] {
    display: none;
}

.newsletter input[type="submit"] {
    border: 2px solid #bd93f9;
    border-radius: 4px;
    background-color: #bd93f9;
    color: #282a36;
    height: 40px;
    padding: 0;
}

.newsletter label {
    display: block;
    background-color: #44475a;
    border: 4px solid #44475a;
    border-radius: 4px;
    width: 100%;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -22px;
    padding: 10px;
    font-weight: bolder;
}

.newsletter .file-upload-container {
    display: flex;
    background-color: #44475a;
    padding: 10px 10px 20px;
    margin: 0;
}

.newsletter .file-upload {
    display: flex;
    height: 50px;
    border-top: none;
    border-radius: 0;
    padding: 0;
}

.newsletter .file-upload div {
    border: 2px solid #bd93f9;
    border-radius: 4px;
    height: fit-content;
    padding: 4px;
    color: #bd93f9;
}

.newsletter .file-upload div:hover {
    background-color: #bd93f9;
    color: #44475a;
    box-shadow: 2px 2px 20px rgba(189, 147, 249, 0.5);
}

.newsletter .file-upload p {
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    color: #8be9fd;
}

.newsletter .file-upload-container .button {
    padding-top: 5px;
    padding-right: 20px;
    font-weight: bold;
    color: #bd93f9;
}

.newsletter .title {
    text-align: center;
}

.newsletter font {
    color: #8be9fd;
    font-size: 20px;
}

/* }}} */

/* display {{{ */
.newsletter .question_box {
    background-color: #44475a;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px 30px;
    margin: 30px 0;
}

.newsletter .question_box font {
    margin: auto 0;
    margin-top: 16px;
    margin-left: 20px;
}

.newsletter .question_box p {
    margin-left: 10px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.newsletter .question {
    display: flex;
    flex-direction: column;
    font-size: 16pt;
}

.newsletter .question font {
    margin: 0px;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 16pt;
}

.newsletter .response {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px 20px;
    box-shadow: 2px 2px 20px rgba(16, 16, 21, 0.8);
}

.newsletter .response font {
    margin-left: 0;
    min-width: 20%;
    min-height: 20%;
    text-wrap: wrap;
    word-wrap: break-word;
}

.newsletter .image_response {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 5px 20px;
    box-shadow: 2px 2px 20px rgba(16, 16, 21, 0.8);
}

.newsletter .image_response font {
    margin: 10px 0;
}

.newsletter img {
    padding: 10px;
    border-radius: 15px;
}

.newsletter figcaption {
    padding: 10px;
    align-self: center;
}

/* }}} */
/* }}} */

/* passcode {{{ */
.passcode-btn {
    display: flex;
    margin-top: 10px;
}

.passcode-btn input {
    border: 2px solid #bd93f9;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #282a36;
    color: #bd93f9;
    padding: 10px;
    height: 40px;
    min-width: 100px;
    width: 40%;
    font-size: 20px;
    text-align: center;
}

.passcode-btn input[type="submit"] {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #bd93f9;
    color: #282a36;
    vertical-align: center;
    line-height: 15px;
    width: 100%;
}

/* }}} */
