<!DOCTYPE html>
<html>

[HEADER]

<body>
    <section class="main">
        <!--navigation {{{-->
        <nav>
            <!--logo-->
            <a href="../" class="logo">
                <p>Home</p>
            </a>
            <!--menu-->
            <ul class="menu">
                <li><a href="../projects/">Projects</a></li>
                <li><a href="../blog/" class="blog">Blog</a></li>
            </ul>
        </nav>
        <!--}}}-->

        <div class="container">
            <div class="content">
                <div class="newsletter">
                    <div class="title">
                        <h1>[TITLE]</h1>
                    </div>
                    [NEWSLETTER]
                </div>
            </div>
        </div>
    </section>
</body>

</html>
